name: flutter_wasm
version: 0.0.1
description: Flutter support for package:wasm
repository: https://github.com/dart-lang/wasm
publish_to: none

environment:
  sdk: '>=2.14.0 <3.0.0'
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  wasm:
    git:
      url: https://github.com/dart-lang/wasm.git
      path: wasm

dev_dependencies:
  flutter_lints: ^1.0.0
  flutter_test:
    sdk: flutter

dependency_overrides:
  wasm:
    path: ../wasm

flutter:
  plugin:
    platforms:
      android:
        package: dev.dart.flutter_wasm
        pluginClass: FlutterWasmPlugin
